# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

__pypackages__/
.idea

# Personal stuffs
data/
results/
candidates_to_be_excluded_but_useful/
